<template>
  <toolbar-tool-list class="pr-6" />
  <original-theme-dropdown />
</template>

<script>
import {
  defineComponent,
} from 'vue'

import OriginalThemeDropdown from 'laravel-nova-components/Dropdowns/ThemeDropdown'

import ToolbarToolList from '../ToolbarToolList.vue'

export default defineComponent({
  name: 'ThemeDropdown',
  components: {
    ToolbarToolList,
    OriginalThemeDropdown,
  },
})
</script>

<style scoped>

</style>
