<template>
  <div class="flex items-center">
    <toolbar-resource-dropdown
      v-bind="$attrs"
      :resource="resource"
      :selection="selection"
    />
    <button
      v-if="clearable"
      :class="cClearBtnClass"
      :disabled="cDisableClearBtn"
      style="margin-left: 0.25em; padding: 0.25em; line-height: 1; border-radius: 0.5rem;"
      :style="selection ? '' : 'cursor: default;'"
      @click="onClickClear"
    >
      <!-- https://v1.heroicons.com/ -->
      <svg
        class="h-6 w-6"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M18.364 18.364A9 9 0 005.636 5.636m12.728 12.728A9 9 0 015.636 5.636m12.728 12.728L5.636 5.636"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
  </div>
</template>

<script>
import ToolbarResourceDropdown from './ToolbarResourceDropdown'

export default {
  components: {
    ToolbarResourceDropdown,
  },
  props: {
    resource: {
      type: String,
      required: true,
    },
    selection: {
      type: Object,
      default: null,
    },
    clearable: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    cDisableClearBtn () {
      return !this.selection
    },
    cClearBtnClass () {
      if (this.cDisableClearBtn) {
        return 'text-gray-200 dark:text-gray-600'
      } else {
        return 'hover:bg-gray-100 dark:hover:bg-gray-700 h-10 focus:outline-none text-gray-600 dark:text-gray-400'
      }
    },
  },
  methods: {
    onClickClear () {
      this.clear()
    },
    clear () {
      Nova.request()
        .delete(`/nova-vendor/nova-toolbar-tools/toolbar-resources/${this.resource}`)
        .then(response => {
          window.location.reload()
        })
    },
  },
}
</script>

<style scoped>

</style>
