<template>
  <div class="tools">
    <component
      :is="tool.component"
      v-for="tool in tools"
      :key="tool.resource"
      v-bind="tool"
    />
  </div>
</template>

<script>
export default {
  data: () => ({
    tools: [],
  }),
  created () {
    this.fetchToolList()
  },
  methods: {
    fetchToolList () {
      Nova.request()
        .get('/nova-vendor/nova-toolbar-tools/tools')
        .then(response => {
          this.tools = response.data
        })
    },
  },
}
</script>

<style scoped>
</style>
