<template>
  <Dropdown
    class="flex items-center"
    :handle-internal-clicks="false"
    @menu-opened="onOpenDropdown"
  >
    <DropdownTrigger
      class="hover:bg-gray-100 dark:hover:bg-gray-700 h-10 focus:outline-none focus:ring rounded-lg flex items-center text-sm font-semibold text-gray-600 dark:text-gray-400 px-3"
      role="navigation"
    >
      <div
        v-if="!selection"
        class="pa-2"
      >
        {{ label }}
      </div>
      <div
        v-else
        class="flex items-center"
      >
        <img
          v-if="selection.avatar"
          class="h-8 w-8 mr-3"
          :class="{
            'rounded-full': selection.rounded,
            rounded: !selection.rounded,
          }"
          :src="selection.avatar"
        >
        <div class="whitespace-nowrap">
          <div>{{ selection.title }}</div>
          <div
            v-if="selection.subTitle"
            class="text-xs mt-1"
          >
            {{ selection.subTitle }}
          </div>
        </div>
      </div>
    </DropdownTrigger>

    <template #menu>
      <DropdownMenu
        class="px-1"
        width="300"
      >
        <nav class="py-1">
          <DropdownMenuItem
            v-if="cIsSearchable || cIsFilterable"
            style="background: none !important;"
          >
            <div
              class="flex relative"
            >
              <Icon
                class="absolute ml-2 text-gray-400"
                :style="{ top: '4px' }"
                type="search"
                width="20"
              />
              <input
                ref="input"
                v-model="filter"
                class="appearance-none rounded-full h-8 pl-10 w-full bg-gray-100 dark:bg-gray-900 dark:focus:bg-gray-800 focus:bg-white focus:outline-none focus:ring focus:ring-primary-200 dark:focus:ring-gray-600"
                :placeholder="searchLabel"
                spellcheck="false"
                type="search"
                @input="onInputFilter"
                @keydown.stop.enter="onKeydownEnterFilter"
              >
            </div>
          </DropdownMenuItem>

          <LoadingView :loading="loading" />

          <template v-if="!loading">
            <DropdownMenuItem
              v-for="item in cItems"
              :key="item.id"
              as="button"
              :class="item.id === selection?.id ? 'bg-gray-50 dark:bg-gray-800' : ''"
              @click.prevent="onClickItem(item.id)"
            >
              <div
                class="flex items-center"
              >
                <img
                  v-if="item.avatar"
                  class="h-8 w-8 mr-3"
                  :class="{
                    'rounded-full': item.rounded,
                    rounded: !item.rounded,
                  }"
                  :src="item.avatar"
                >
                <div>
                  <div>{{ item.title }}</div>
                  <p
                    v-if="item.subTitle"
                    class="text-xs mt-1 text-gray-400 dark:text-gray-600"
                  >
                    {{ item.subTitle }}
                  </p>
                </div>
              </div>
            </DropdownMenuItem>

            <DropdownMenuItem v-if="cShowNoItemsText">
              {{ noItemsFoundText }}
            </DropdownMenuItem>
          </template>
        </nav>
      </DropdownMenu>
    </template>
  </Dropdown>
</template>

<script>
export default {
  name: 'ToolbarResourceDropdown',
  props: {
    resource: {
      type: String,
      required: true,
    },
    label: {
      type: String,
      required: true,
    },
    selection: {
      type: Object,
      default: null,
    },
    searchable: {
      type: Boolean,
      default: false,
    },
    filterable: {
      type: Boolean,
      default: false,
    },
    noItemsFoundText: {
      type: String,
      default: null,
    },
    searchLabel: {
      type: String,
      default: null,
    },
  },
  data: () => ({
    items: [],
    debounceTimeout: null,
    loading: false,
    error: false,
    filter: '',
  }),
  computed: {
    cItems () {
      if (!this.cIsFilterable || !this.filter) {
        return this.items
      }

      return this.items.filter(item => item.title.toLowerCase().includes(this.filter.toLowerCase()))
    },
    cIsSearchable () {
      return this.searchable
    },
    cIsFilterable () {
      return this.filterable && !this.cIsSearchable
    },
    cShowNoItemsText () {
      return this.cItems.length === 0
        && (
          !this.cIsSearchable
          || (
            this.cIsSearchable
            && this.filter.length > 0
          )
        )
    },
  },
  created () {
    this.fetchItems()
  },
  methods: {
    onOpenDropdown () {
      this.$nextTick().then(() => {
        if (this.$refs.input) {
          this.$refs.input.focus()
        }
      })
    },
    onKeydownEnterFilter () {
      if (this.cIsSearchable) {
        this.clearDebounceTimeout()
        this.fetchItems()
      }
    },
    onInputFilter () {
      if (this.cIsSearchable) {
        this.fetchItemsDebounced()
      }
    },
    onClickItem (id) {
      this.selectItem(id)
    },
    selectItem (id) {
      Nova.request()
        .post(`/nova-vendor/nova-toolbar-tools/toolbar-resources/${this.resource}`, { id })
        .then(response => {
          window.location.reload()
        })
    },
    getFetchItemsParams () {
      const params = {}

      if (this.cIsSearchable) {
        params.search = this.filter
      }

      return params
    },
    async fetchItems () {
      this.items = []

      const params = this.getFetchItemsParams()

      try {
        const { data: results } = await Nova.request()
          .get(`/nova-vendor/nova-toolbar-tools/toolbar-resources/${this.resource}`, { params })

        this.items = results
      } catch (e) {
        this.error = true
      } finally {
        this.loading = false
      }
    },
    fetchItemsDebounced () {
      this.loading = true
      this.error = false
      this.clearDebounceTimeout()
      this.debounceTimeout = setTimeout(() => {
        this.fetchItems()
        this.clearDebounceTimeout()
      }, Nova.config.debounce)
    },
    clearDebounceTimeout () {
      if (this.debounceTimeout) {
        clearTimeout(this.debounceTimeout)
        this.debounceTimeout = null
      }
    }
  },
}
</script>

<style scoped>

</style>
